---

  ##
  ## besides other thinks this file handles creating the final complete 
  ## auto version and checks if that tag already exists or is new and 
  ## must be built
  ##


  - set_fact:
      _tmp_build_tags: []
      _tmp_idtag: >-
        {{ _autovcfg_iter.idtag | default(_autovcfg_iter, True) }}
      _tmp_cur_autover:
         version_in: >-
            {{ _autovcfg_iter.ver_in | default(_autovcfg_iter, True) }}
         meta_info: >-
           {{ _autovcfg_iter.meta_info | default({}, True) }}


  - name: make version tag for raw version in
    set_fact:
      _tmp_build_tags: "{{ _tmp_build_tags + [_tmp_cur_autover.version_in] }}"
    when: >-
      _cur_dockimg.auto_versioning.default_tags and
      not _autovcfg_iter.get('no_ver_in_tag', False)


  - name: make version tag for idtag
    set_fact:
      _tmp_build_tags: "{{ _tmp_build_tags + [_tmp_idtag] }}"
    when: >-
      _cur_dockimg.auto_versioning.default_tags
      and _tmp_idtag != _tmp_cur_autover.version_in


  - block:

      - name: optionally append scm timestamp to idtag when avaible
        set_fact:
          _tmp_idtag: "{{ _tmp_idtag }}_{{ _tmp_scm_timestamp }}"
          _tmp_cur_autover: >-
             {{ _tmp_cur_autover | combine({'scm_ts': _tmp_scm_timestamp}) }}


        ## add scm suffixed idtag to tags to build
      - set_fact:
          _tmp_build_tags: "{{ _tmp_build_tags + [_tmp_idtag] }}"
        when: >-
          _cur_dockimg.auto_versioning.default_tags

    when: >-
      _tmp_scm_timestamp


  - name: >-
      optionally add any auto version defined extra image tags when defined
    set_fact:
      _tmp_build_tags: >-
        {{ _tmp_build_tags + _autovcfg_iter.extra_tags | default([], True) }}


##  - name: decorate image with auto-version data
##    set_fact:
##      _cur_image_deco: >-
##        {{ _cur_image_deco 
##         | smabot.containers.add_deco(
##             key='contimg_verin', value=_tmp_cur_autover.version_in, 
##             add_env=['CONTIMG_VERSION_IN'],
##             add_label=['org.opencontainers.image.version']
##           )
##         | smabot.containers.add_deco(
##             key='contimg_idtag', value=_tmp_idtag, 
##             add_env=['CONTIMG_IDTAG'],
##             add_label=['contimage.self.idtag']
##           )
##        }}


  - name: >-
      check if computed id tag '{{ _tmp_idtag }}' for current 
      auto version '{{ _tmp_cur_autover.version_in }}' exists
      already  ==>>  {{ _dbimg_iter.value.fullname }}

    community.docker.docker_image:
      name: "{{ _dbimg_iter.value.fullname ~ ':' ~ _tmp_idtag }}"
      source: pull
    register: _tmp_pullres
    ignore_errors: yes


    ##
    ## note: _tmp_pullres.failed is expected to mean: idtag does
    ##   not exist yet, so obviously we want to add this auto 
    ##   version than to build queue and not otherwise, except 
    ##   user forced a rebuild
    ##
  - set_fact:
      _auto_versions: >-
         {{ _auto_versions 
          + [(_tmp_cur_autover | combine({
              'idtag': _tmp_idtag, 'tags': _tmp_build_tags,
              'latest': _autovcfg_index == 0,
            }))]
         }}

    when: _tmp_pullres.failed or _docker_force_rebuild


  - debug:
      msg: Force rebuild of already existing auto version '{{ _tmp_idtag }}'
    when: not _tmp_pullres.failed and _docker_force_rebuild


  - block:

      - debug:
          msg: Skip already built auto version '{{ _tmp_idtag }}'


      - set_fact:
          _cur_image_meta: >-
            {{ _cur_image_meta 
             | combine({'skips': [{
                   'tag': _tags_iter,
                 }]}, recursive=True, list_merge='append'
               )
            }}

        loop: "{{ _tmp_build_tags }}"
        loop_control:
          loop_var: _tags_iter

        when: docker_build.meta.create

    when: not _tmp_pullres.failed and not _docker_force_rebuild

